@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    --line-color: #e5e7eb;
}

.borderBlack {
    @apply border border-black/10;
}

.mb31 {
    color: blue;
}

.mb32 {
    color: blue;
}

.mb33 {
    color: blue;
}